@{
    ViewData["Title"] = "User Home Page";
}

<div class="row">
    <div class="col-sm-3 well text-center">
        <div class="well">
            <p><a href="#">@User.Identity.Name</a></p>
            <img src="https://7f9c61237bd6e732e57e-5fa18836a2ae6b5e7c49abcc89b20237.ssl.cf1.rackcdn.com/6843961_justin-biebers-ex-yovanna-ventura-is-on_tc8bea06e.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="well">
            <p><a href="#">Interests</a></p>
            <p>
                <span class="label label-default">News</span>
                <span class="label label-primary">W3Schools</span>
                <span class="label label-success">Labels</span>
                <span class="label label-info">Football</span>
                <span class="label label-warning">Gaming</span>
                <span class="label label-danger">Friends</span>
            </p>
        </div>
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <p><strong>Ey!</strong></p>
            People are looking at your profile. Find out who.
        </div>
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-7">

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-left">
                    <div class="panel-body">
                        <p contenteditable="true">What do you think @(User.Identity.Name)?</p>
                        <a class="btn btn-default btn-sm" asp-area="" asp-controller="Posts" asp-action="Create">Create Post</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar"> John
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Like
                    </button>
                    <button type="button" class="btn btn-default btn-sm">Comment</button>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar"> John
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Like
                    </button>
                    <button type="button" class="btn btn-default btn-sm">Comment</button>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar"> John
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Like
                    </button>
                    <button type="button" class="btn btn-default btn-sm">Comment</button>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar"> John
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Like
                    </button>
                    <button type="button" class="btn btn-default btn-sm">Comment</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="well">
                    <p>Bo</p>
                    <img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="Avatar">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="well">
                    <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="well">
                    <p>Jane</p>
                    <img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="Avatar">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="well">
                    <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="well">
                    <p>Anja</p>
                    <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="well">
                    <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 well text-center">
        <div class="thumbnail">
            <p>Upcoming Events:</p>
            <img src="paris.jpg" alt="Paris" width="400" height="300">
            <p><strong>Paris</strong></p>
            <p>Fri. 27 November 2015</p>
            <button class="btn btn-primary">Info</button>
        </div>
        <div class="well">
            <p>ADS</p>
        </div>
        <div class="well">
            <p>ADS</p>
        </div>
    </div>
</div>