@model PostFormModel
<hr />
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Feeling"></label>
        <select asp-for="Feeling" asp-items="Html.GetEnumSelectList<Feeling>()" class="form-control"></select>
        <span asp-validation-for="Feeling" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" class="form-control" rows="3" ></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Photo"></label>
        <small>.png and .jpeg accepted</small>
        <input asp-for="Photo" accept="image/*" class="form-control" />
        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary col-md-offset-0">Submit</button>
        <button formaction='javascript:history.go(-1)' class="btn btn-default col-md-offset-0">Cancel</button>
    </div>
</form>