@model PostFormModel
@{
    ViewData["Title"] = "Edit Post";
}
<h3 class="text-center">@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @Html.Partial("_PostForm", Model)
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
