@model UserEditModel
@{
    ViewData["Title"] = "Delete User";
}

<h3 class="text-center">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" ReadOnly="true" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" ReadOnly="true" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" ReadOnly="true" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age"></label>
                <input asp-for="Age" type="number" min="0" max="130" step="1" class="form-control" ReadOnly="true" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" ReadOnly="true"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <br />
            <button type="submit" class="btn btn-group-lg btn-danger">Delete</button>
            <button formaction='javascript:history.go(-1)' class="btn btn-default col-md-offset-0">Cancel</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
